
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.logo-img{
  width: 60%;
  margin-top: -120px;
}

.text-muted {
  color: #777777;
  margin-bottom: 20px;
  padding: 0 20px;
}
.text-primary {
  color: #fed136;
}



.push-down{
  margin-top: 200px;
}


p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #fed136;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.card {
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border: solid 1px #eee;
        background-color: #222222;
    color: #ebeae5;
}

.card {
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

#portfolio div {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#faq h3, #faq h2 {
  font-family: "Raleway", sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.half {
  margin: 10px 0;
  max-width: 400px;
}

.full {
  width: 100%;
}

.bg-white {
  background: #fff;
  color: #000;
}

.padding {
  padding: 16px;
}

.white-box {
  background-color: #fafafa;
  font-weight: 400;
  font-size: 24px;
}

.hl_black {
  background: #424242;
  color: white;
  padding: 25px 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 16px;
  padding: 20px 40px;
  margin-bottom:10px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}

.square-box{
  margin-top: 170px;
  
  height: 50% !important;
  width: 100%;
  color: black;
  z-index: 2;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

header {
  /* background-image: url('../img/header-bg.jpg'); */
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/header-bg.jpg');
  /*animation: animateBg 120s linear 1s forwards;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
}
/*@keyframes animateBg{
    0% { transform: scale(1,1); }
    100% { transform: scale(1.3,1.3); }
}*/

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 10px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 1.25em;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

section h2.gallery-heading{
  font-size: 20px;
  margin: 45px 10px 0 10px;
  padding: 20px 10px;
  outline: 3px dashed #fed136;
  box-shadow: 0 0 0 3px white;
  animation: 1s animateborder infinite;
  color: #424242;
  background-color: white;
}

section h2 a{
  text-decoration: none;
  color: #424242;
  transition: 0.2s ease-in-out;
}

section h2 a:hover{
  text-decoration: none;
  color: #fed136;
  transition: 0.2s ease-in-out;
}

@keyframes animateborder{
  0%{
    outline-color: #fed136;
    box-shadow: 0 0 0 3px white;
  }
  100%{
    outline-color: white;
    box-shadow: 0 0 0 3px #fed136;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio{
  margin-top: -380px;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
/*#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
} */
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;

}
#steps_order
{
  /* background-image:url("../img/bg.png"); */
  background-repeat: repeat;
  background-color: #FFF;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

#contactForm{
  margin-top: 40px;
}

section#contact {
  background-color: #222222;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/contact-bg.jpg');
  /* background-image: url('../img/contact-bg.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  font-size: 1.2em;
  margin-top: 20px;
  margin-left: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
 
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
/*.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}

.modal-footer p{
  text-align: center;
  font-size: 1.3em;
}

.modal-footer p a{
  color: #ffba00;
} */

.form-inline .form-control {
  width: 50%;
  float: left;
  margin-bottom: 15px;
}

.btn{
  padding: 13px;
  background-color: #ffba00;
  border-color: #ffba00;
}

.btn:hover{
  color: #ffba00;
  background-color: #fff;
}
.btn-success:hover{
  padding: 13px;
  color: #fff;
  background-color: #916800;
  border-color: #ffba00;
}

.btn-block+.btn-block {
  margin-top: 15px;
}

.facebook{
  background-color: #4267b2;
  border-color: #4267b2;
}

.main-text{
  height: 100%;
  display: table;
  margin-top: -20px;
}

.intro-text{
  display: table-cell;
  vertical-align: middle;
}

header .intro-text .intro-lead-in{
  padding: 5px;
  line-height: 30px;
  margin-bottom: 20px;
}

section h3.section-subheading{
  padding: 50px 10px 0 10px;
  line-height: 25px;
}

@media only screen and (max-width:500px){
  header {
    /* background-image: url('../img/header-bg-small.jpg'); */
    /* background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/header-bg-small.jpg'); */
    
}
}

section h3.non_italic{
  font-size: 18px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 23px;
}

.mybtn{
  padding: 3px 10px;
}

.discount{
  color: #000;
}

.in_box{
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  background-color: #fafafa;
  padding: 60px 30px;
  font-size: 24px;
  line-height: 33px;
  margin-top: 20px;
  margin-bottom: 30px;
  /* background-image:url("../img/bg.png"); */
  background-repeat: repeat;
}

.bg-rb2{
  background-color: #bdbdbd;
	/* background-image:url("../img/bg.png"); */
  background-repeat: repeat;
}

.question{
  padding: 50px 30px;
  background: rgba(255,255,255,0.6);
  margin: 40px 20px;
  font-size: 18px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  line-height: 23px;
}

.highlights{
  margin-top: 50px;
  font-family: 'Montserrat',sans-serif;
}

.highlights_body{
  display: table-cell;
  vertical-align: middle;
}

.highlights_head{
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 20px 0 10px 0;
  margin: 0;
  background: white;
}

.highlights_head_big{
  margin: -40px auto 0 auto;
  color: white;
  position: absolute;
  right: 30px;
  bottom: 100px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 20px black;
}

.highlights_head_small{
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 20px 5px 10px 5px;
  margin: 0;
  background: white;
}

.highlights_content{
  line-height: 18px;
  padding-bottom: 20px;
  margin: 0;
  background: white;
}

.side_image{
  margin-bottom: 40px;
}

.side_image img{
  max-width: 100%;
}

.price{
  margin: 30px 0 -10px 0;
  background: white;
  padding: 30px;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 700;
}

@media only screen and (max-width: 1000px){
  .logo-img{
    width: 60%;
  }
  .square-box{
    display: none;
  }
  .intro-text{
    margin-left: auto;
    margin-right: auto;
  }
  
}



@media only screen and (max-width: 768px){
  .logo-img{
    margin-top: 10px
  }
  .square-box{
    display: none;
  }
  
}

@media only screen and (max-width: 600px){
  .logo-img{
    width: 50%;
  }
  
}

@media only screen and (max-width: 500px){
  .logo-img{
    margin-top: 5px;
    width: 60%;
  }
  .highlights_head_small{
    font-size: 0.8em;
  }
  
}

@media only screen and (max-width: 420px){
  .highlights_head_small{
    font-size: 0.8em;
  }
  .highlights_content{
    font-size: .9em;
  }
  
}

@media(max-width: 910px){
  .intro-text{
    margin: auto auto;
    /* padding-left: 25%;
    padding-right: 25%; */
  }
  
}


@media(max-width: 992px){
  .intro-text{
    margin: auto auto;
    /* padding-left: 25%;
    padding-right: 25%; */
  }
}

section#contact .form-group .form-control::-webkit-input-placeholder{
  color: #212121;
  opacity: 0.4 !important;
}

/* gallery slider css */
.slider {
  margin: -50px auto 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 540px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.square-box .slide {
  margin-top: 70px;
  display: none;
  height: 70%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: url('../img/MyPicBook-02.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(2) {
  background: url('../img/MyPicBook-10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(3) {
  background: url('../img/MyPicBook-03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(4) {
  background: url('../img/MyPicBook-05.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(5) {
  background: url('../img/MyPicBook-07.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(6) {
  background: url('../img/MyPicBook-09.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 540px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -540px;
  box-shadow: 0px 0px 20px grey;
}
.square-box .directional_nav {
  height: 50%;
  margin-top: 260px;
  /* max-width: 940px; */
  width: 100%;
  position: relative;
  top: -540px;
  box-shadow: 0px 0px 20px black;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

.gallery-link a{
  margin: -450px auto;
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: open sans;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5em;
  font-weight: 700;

  padding: 20px;
  cursor: pointer;
  transition: .3s ease-in-out;
  text-decoration: none;
  color: black;
  background-color: #fed136;
}

.gallery-link a:hover{
  background: black;
  color: white;
  transition: .3s ease-in-out;
}

@media only screen and (max-width: 865px) {
  .directional_nav {
    height: 440px;
    top: -440px;
  }
  .slide_viewer {
    height: 440px;
  }
  .gallery-link a {
    margin: -380px auto;
  }
}

@media only screen and (max-width: 705px) {
  .directional_nav {
    height: 350px;
    top: -440px;
  }
  .slide_viewer {
    height: 350px;
  }
  .gallery-link a {
    margin: -300px auto;
  }
  .slider {
    margin: -50px auto 90px auto;
  }
  #portfolio {
    margin-top: -280px;
  }
  .slide_buttons {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 560px) {
  .directional_nav {
    height: 280px;
    top: -370px;
  }
  .slide_viewer {
    height: 280px;
  }
  .slider {
    margin: -50px auto 90px auto;
  }
  #portfolio {
    margin-top: -280px;
  }
  .slide_buttons {
    margin-top: -80px;
  }
}

@media only screen and (max-width: 450px) {
  .directional_nav {
    height: 220px;
    top: -310px;
  }
  .slide_viewer {
    height: 220px;
  }

  .gallery-link a {
    margin: -200px auto;
  }

  .slider {
    margin: -50px auto 90px auto;
  }
  #portfolio {
    margin-top: -150px;
  }

}

.knowpicbook_head_small{
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 20px 0 10px 0;
  margin: 60px 0 0 0;
  background: #424242;
  padding: 20px 0;
  color: white;
}

.knowpicbook_content{
  line-height: 24px;
  font-size: 1.1em;
  padding-bottom: 20px;
  margin: 0;
  /* background-image:url("../img/bg.png"); */
  background-repeat: repeat;
  background-color: #EEEEEE;
  padding: 20px 30px;
  min-height: 544px;
}

.heading_black{
  text-transform: uppercase;
  font-size: 28px;
  padding: 0px 0 10px 0;
  margin: 0px 0 0 0;
  background: #424242;
  padding: 35px 0;
  color: white;
}

.fa-sort-desc{
  color: #424242;
  position: absolute;
  margin-top: -2px;
  margin-left: 10px;
}

@media only screen and (max-width: 767px){

  .fa-sort-desc{
    color: white;
    position: absolute;
    margin-top: -2px;
    margin-left: 10px;
  }

  .knowpicbook_head_small{
    margin: 30px 0 0 0;
  }

  .knowpicbook_content{
    min-height: 0;
    line-height: 24px;
    font-size: 1.1em;
    padding-bottom: 20px;
    margin: 0;
    background: #fafafa;
    padding: 0px 30px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }

  .knowpicbook_content.open{
    padding: 20px 30px;
    max-height: 1000px;
    opacity: 1;
    transition: 0.4s ease-in-out;
  }
}